body {
    background-image: url("https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMy1jaGltLTE4LWUtYnJpY2tfMS5qcGc.jpg");
}

div#header {
    margin: auto;
    width: 50%;
    text-align: center;
}

#focus_div {
    margin: auto;
    width: 50%;
    text-align: center;
}

#drink_focus {
    width: 400px;
    height:400px;
    object-fit: cover;
}

#sort_form {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.drink_card_img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 75%;
    margin: auto;
}

.list_container {
    padding-top: 2.5cm;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_child {
    flex: 1;
    border: 1px double black;
    font-size: 28px;
}

#list {
    text-align: center;
    font-size: 20px;
}

input[type=text] {
    font-size: 28px;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }

#sort_form {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }

  #list_container {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }